@model OpenSchool.Models.Usuarios

@{
    ViewBag.Title = "CrearAdministrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h4>Crear Usuario</h4>
        </div>
        <div class="card-body">
            <div class="form-group">

                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { @type = "text", @Placeholder = "Nombre", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Apellido, new { @type = "text", @Placeholder = "Apellido", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Apellido)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { @type = "email", @Placeholder = "Mail", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Contrasenha, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Contrasenha, new { @type = "password", @Placeholder = "Contraseña", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Contrasenha)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Salt, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Salt, new { @type = "text", @Placeholder = "Salt", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Salt)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FechaNacimiento)
                        @Html.ValidationMessageFor(model => model.FechaNacimiento)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FechaRegistro)
                        @Html.ValidationMessageFor(model => model.FechaRegistro)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
            }
