@model OpenSchool.Models.TiposEvaluaciones

@{
    ViewBag.Title = "Create";
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h2>Crear</h2>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>TiposEvaluaciones</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoEvaluacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TipoEvaluacion)
                        @Html.ValidationMessageFor(model => model.TipoEvaluacion)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Regresar", "Index")
        </div>
        </div>
</div>