<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="../../favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Side Navbar -->
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <!-- Sidebar Header    -->
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <!-- User Info-->
                <div class="sidenav-header-inner text-center">
                    <h2 class="h5">Elmer Figueroa</h2><span>Estudiante</span>
                </div>
                <!-- Small Brand information, appears on minimized sidebar-->
                <div class="sidenav-header-logo"><a class="brand-small text-center"><strong>O</strong><strong class="text-primary">S</strong></a></div>
            </div>
            <!-------------------------------------------- SOLO COMENTE TU MENU PARA MIENTRAS---PD:NO TE EJONES---------------------------->
            <!-- Sidebar Navigation Menus-->
            @*<div class="main-menu">
                    <ul id="side-main-menu" class="side-menu list-unstyled">
                        @if (ViewBag.cargo == null)
                        {
                            <script>window.location.href='@Url.Action("Index", "Login")'; </script>

                        }
                        @if (ViewBag.cargo.Equals("admin"))
                        {
                            <!--Administrador Opciones-->
                            <li><a href="@Url.Action("Index","Administracion")"> <i class="fas fa-home"></i>Pantalla Principal</a></li>
                            <li><a href="@Url.Action("AsignarCoordinador","Administracion")"> <i class="fas fa-check"></i>Asignar Coordinador</a></li>
                            <li>
                                <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="far fa-plus-square"></i>Crear</a>
                                <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                                    <li>@Html.ActionLink("Crear Nivel", "CrearNivel", "Administracion")</li>
                                    <li>@Html.ActionLink("Crear Seccion", "CrearSeccion", "Administracion")</li>
                                    <li>@Html.ActionLink("Crear Profesor", "CrearProfesor", "Administracion")</li>
                                    <li>@Html.ActionLink("Crear Coordinador", "CrearCoordinador", "Administracion")</li>
                                    <li>@Html.ActionLink("Crear Curso", "CrearCurso", "Administracion")</li>
                                </ul>
                            </li>
                        }
                        @if (ViewBag.cargo.Equals("coord"))
                        {
                            <!--Coordinador Opciones-->
                            <li><a href="@Url.Action("AsignarProfesor","Coordinador")"> <i class="fas fa-clipboard-check"></i>Asignar Profesor</a></li>
                            <li><a href="@Url.Action("CrearAlumno","Coordinador")"> <i class="fas fa-users"></i>Crear Alumno</a></li>
                            <li><a href="@Url.Action("DuracionCurso","Coordinador")"> <i class="far fa-calendar-plus"></i>Duracion Curso</a></li>
                            <li><a href="#"> <i class="fas fa-list-ul"></i>Inscripcion de Alumnos</a></li>
                        }
                        @if (ViewBag.cargo.Equals("Prof"))
                        {
                            <!--Profesor Opciones-->
                            <li><a href="#"> <i class="fas fa-plus"></i>Crear Contenido</a></li>
                            <li><a href="#"> <i class="far fa-file-alt"></i>Crear Evaluaciones</a></li>
                            <li><a href="#"> <i class="far fa-calendar-plus"></i>Seguimiento Alumnos</a></li>
                        }
                        @if (ViewBag.cargo.Equals("estu"))
                        {
                            <!--Estudiante Opciones-->
                            <li><a href="#"> <i class="fas fa-file-medical"></i>Inscripcion Materias</a></li>
                            <li><a href="#"> <i class="fas fa-user"></i>Area Personal</a></li>
                        }
                    </ul>
                </div>*@

            <!--------------------------------------------------------- PRUEBA-------------------------------------------->
            <!----------------------------------MENU ADMINISTRADOR---PROVISIONAL------------->
            <div class="main-menu">
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <!--Administrador Opciones-->
                    <li><a href="@Url.Action("Index","Administracion")"> <i class="fas fa-home"></i>Administrador</a></li>
                    <li><a href="@Url.Action("CrearAdministrador","UsuariosRoles")"> <i class="fas fa-check"></i>Crear Usuarios</a></li>
                    <li>
                        <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="far fa-plus-square"></i>Crear</a>
                        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                            <li>@Html.ActionLink("Crear Nivel", "Create", "NivelCursos")</li>
                            <li>@Html.ActionLink("Crear Seccion", "Create", "SeccionesCursos")</li>
                            <li>@Html.ActionLink("Crear Profesor", "Create", "ProfesoresCursos")</li>
                            <li>@Html.ActionLink("Asignar Coordinador/Cate", "Create", "CoordinadorCategorias")</li>
                            <li>@Html.ActionLink("Crear Curso", "Create", "Cursos")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#exampledropdownDropdown1" aria-expanded="false" data-toggle="collapse"> <i class="far fa-plus-square"></i>Ver</a>
                        <ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
                            <li>@Html.ActionLink("Ver Nivel", "Index", "NivelCursos")</li>
                            <li>@Html.ActionLink("Ver Seccion", "Index", "SeccionesCursos")</li>
                            <li>@Html.ActionLink("Ver Profesor", "Index", "ProfesoresCursos")</li>
                            <li>@Html.ActionLink("Ver Coordinadores/Cate", "Index", "CoordinadorCategorias")</li>
                            <li>@Html.ActionLink("Ver Curso", "Index", "Cursos")</li>
                            <li>@Html.ActionLink("Ver Usuarios", "Index", "Usuarios")</li>
                            <li>@Html.ActionLink("Ver Usuarios Rol", "Index", "UsuariosRoles")</li>

                        </ul>
                    </li>
                </ul>
            </div>
             

            <!------------------------------------------------------MENU COORDINADOR-PROVISIONAL----------------------->
            <div class="main-menu">
                <ul id="side-main-menu1" class="side-menu list-unstyled">
                    <!--Administrador Opciones-->
                    <li><a href="@Url.Action("Index","Administracion")"> <i class="fas fa-home"></i>Coordinador</a></li>
                    <li>
                        <a href="#exampledropdownDropdown2" aria-expanded="false" data-toggle="collapse"> <i class="far fa-plus-square"></i>Asignar</a>
                        <ul id="exampledropdownDropdown2" class="collapse list-unstyled ">
                            <li>@Html.ActionLink("Asignar Profesores", "Create", "ProfesoresCursos")</li>  
                            <li>@Html.ActionLink("Crear Alumnos", "Create", "ProfesoresCursos")</li>               
                        </ul>
                    </li>
                    <li>
                        <a href="#exampledropdownDropdown3" aria-expanded="false" data-toggle="collapse"> <i class="far fa-plus-square"></i>Ver</a>
                        <ul id="exampledropdownDropdown3" class="collapse list-unstyled ">
                            <li>@Html.ActionLink("Ver Profesores/Cursos", "Index", "ProfesoresCursos")</li>
                            <li>@Html.ActionLink("Ver Alumnos", "Index", "ProfesoresCursos")</li>                            
                        </ul>
                    </li>
                </ul>
            </div>

            <!---------------------------------- TERMINAAAAAAAAAAAAAAA--------------------------->





        </div>
    </nav>
    <div class="page">
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a id="toggle-btn" href="#" class="menu-btn"><i class="fas fa-bars"> </i></a><a href="index.html" class="navbar-brand">
                                <div class="brand-text d-none d-md-inline-block"><span>Open</span><strong class="text-primary">School</strong></div>
                            </a>
                        </div>
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Log out-->
                            <li class="nav-item"><a href="@Url.Action("Index","Login")" class="nav-link logout"> <span class="d-none d-sm-inline-block">Logout</span><i class="fas fa-sign-out-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
    </div>
    <!-- JavaScript files-->
    <script src="../../Scripts/jquery/jquery.min.js"></script>
    <script src="../../Scripts/popper.js/umd/popper.min.js"></script>
    <script src="../../Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Scripts/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="../../Scripts/jquery.cookie/jquery.cookie.js"></script>
    <script src="../../Scripts/chart.js/Chart.min.js"></script>
    <script src="../../Scripts/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../Scripts/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../Scripts/js/charts-home.js"></script>
    <!-- Main File-->
    <script src="../../Scripts/js/front.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
